:root {
  --primary-color: rgb(22, 119, 255);
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(5, 6, 8);
  --arrow-background-color: rgb(22, 119, 255);
  --blur-ball-gradient-start: rgb(255, 179, 71);
  --blur-ball-gradient-end: rgb(132, 250, 176);
  --action-button-gradient-start: rgb(240, 98, 146);
  --action-button-gradient-end: rgb(123, 31, 162);
}

[data-theme='dark'] {
  --primary-color: rgb(235, 47, 150);
  --background-color: rgb(5, 6, 8);
  --text-color: rgb(255, 255, 255);
  --arrow-background-color: rgb(235, 47, 150);
  --blur-ball-gradient-start: rgb(114, 46, 209);
  --blur-ball-gradient-end: rgb(19, 194, 194);
  --action-button-gradient-start: rgb(22, 119, 255);
  --action-button-gradient-end: rgb(235, 47, 150);
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

.heroBlurBall {
  z-index: 10;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  max-width: 600px;
  width: 40%;
  height: 400px;
  opacity: 0.2;
  filter: blur(69px);
  will-change: transform;
  background: linear-gradient(
    135deg,
    var(--blur-ball-gradient-start) 0%,
    rgb(22, 119, 255) 30%,
    rgb(245, 34, 45) 70%,
    var(--blur-ball-gradient-end) 100%
  );
  animation: 10s ease 0s infinite normal none running glow;
}

.actionButton {
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;

  animation: 5s ease 0s infinite normal none running flow;
}
