body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(5, 6, 8);
}

.heroBlurBall {
  z-index: 10;
  pointer-events: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  max-width: 600px;
  width: 40%;
  height: 400px;
  opacity: 0.2;
  filter: blur(69px);
  will-change: transform;
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  background: linear-gradient(
      135deg,
      rgb(114, 46, 209) 0%,
      rgb(22, 119, 255) 30%,
      rgb(245, 34, 45) 70%,
      rgb(19, 194, 194) 100%
    )
    0% 0% / 200% 200%;
  animation: 10s ease 0s infinite normal none running glow;
}

.actionButton {
  animation-timeline: auto;
  animation-range-start: normal;
  animation-range-end: normal;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  background: linear-gradient(90deg, rgb(22, 119, 255) 0%, rgb(235, 47, 150) 100%) 0% 0% / 200% 100%;
  animation: 5s ease 0s infinite normal none running flow;
}
