.container {
  position: relative;
  min-width: 400px;
  max-width: 80vw;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.slick-center {
  margin: 0 auto;
  width: 90%;
}

.slider-item {
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
  width: 80%;
  padding: 42px;
  margin: 0 auto;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center img {
  transform: translateY(-20px) scale(1.12);
}

.slider-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(235, 47, 150, 0.1);
}

.slider-item img {
  padding: 8%;
  width: 250px;
  transition: transform 0.3s ease;
  height: 320px;
  margin: auto;
  text-align: center;
}

.leftArrow,
.rightArrow {
  position: absolute;
  background-color: transparent;
  padding: 12px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}
