.container {
  width: 80%;
  margin: 0 auto;
  background: #cccccc;
  border: 2px solid black; /* 给容器添加黑色边框 */
}

.slider-item {
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
  width: 80%; /* 设置为图片大小的80% */
}

.slider-item:hover,
.slider-item.center {
  transform: scale(1.2);
}

.slider-item img {
  padding: 8%;
  width: 56%;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
}
.leftArrow,
.rightArrow {
  position: absolute;
  top: 50.5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.leftArrow {
  left: 12%; /* 调整左箭头位置 */
}

.rightArrow {
  right: 12%; /* 调整右箭头位置 */
}
