.container {
  width: 80%;
  margin: 0 auto;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(98, 98, 98);
  border-radius: 10px;
}

.slider-item {
  transition: transform 0.5s ease;
  position: relative;
  overflow: hidden;
  width: 80%;
}

.slider-item:hover,
.slider-item.center {
  transform: scale(1.2);
}

.slider-item img {
  padding: 8%;
  width: 56%;
  height: auto;
  display: block;
  margin: auto;
  text-align: center;
}
.leftArrow,
.rightArrow {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  cursor: pointer;
}

.leftArrow {
  left: 12%; /* 调整左箭头位置 */
}

.rightArrow {
  right: 12%; /* 调整右箭头位置 */
}
