.container {
  width: 70%;
  margin: 0 auto;
  background: #cccec2;
}

.slider-item {
  transition: transform 0.5s ease;
}

.slider-item:hover,
.slider-item.center {
  transform: scale(1.2);
}

.slider-item img {
  padding: 10%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}
.selected {
  transform: scale(1.2);
}
